.form-container {
  padding: 16px;
}

.ingredients-container ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-button {
  margin-top: 16px;
}

.greenAdd {
  --background: var(--green); /* Green background */
  --color: var(--white); /* Text color (white) */
}

.blueCancel {
  --background: var(--primary-color);
  --color: var(--white);
  ;
}

.greyreset {
  --background: var(--third-color);
  --color: var(--white);
  ;
}

.hidden-field {
  display: none;
}

.toolbar {
  // --background: #404040;
  color: var(--primary-color);

}

.addIngredient-color {
  color: var(--primary-color);
}