.form-container {
  padding: 16px;
}

.ingredients-container ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-button {
  margin-top: 16px;
}

.greenAdd {
  --background: var(--green);
  /* Green background */
  --color: var(--white);
  /* Text color (white) */
}

.blueCancel {
  --background: var(--primary-color);
  --color: var(--white);
  ;
}

.greyreset {
  --background: var(--third-color);
  --color: var(--white);
  ;
}

.hidden-field {
  display: none;
}

.toolbar {
  // --background: #404040;
  color: var(--primary-color);

}

.addIngredient-color {
  color: var(--primary-color);
}

// .camera-btn{
//   width: fit-content;
//   --background:#6b6b6b;
//   color:var(--white);
// }
.upload-row {
  align-items: center;
}

.camera-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-btn {
  --background: #6b6b6b;
  color: var(--white);
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 19px;
  }
}
