.toolbar{
    // --background: #404040;
    color: #6462df;
    
}
.greenAdd {
    --background: #64b000; /* Green background */
    --color: white; /* Text color (white) */
  }
.blueCancel{
    --background:#6462df;
    --color:white;
}
.addIngredient-color{
    color: #6462df;
  }
.removeimage{
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    z-index: 10;
    --background: #6462df;
    --color:white;
  }
