.toolbar{
    // --background: #404040;
    color: var(--primary-color);
    
}
.greenAdd {
    --background: #64b000; /* Green background */
    --color: white; /* Text color (white) */
  }
.blueCancel{
    --background:var(--primary-color);
    --color:white;
}
.addIngredient-color{
    color: var(--primary-color);
  }
  .removeimage{
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    z-index: 10;
    --background: var(--primary-color);
    --color:white;
  }
