<ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon class="btn" aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon class="btn" aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon class="btn" aria-hidden="true" name="shapes-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shoppingList" href="/tabs/shoppingList">
      <ion-icon class="btn"  aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Shopping List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
