// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    // --primary-color: #ed6f0e; 
    --primary-color: #6462df; 
    --secondary-color:#c0bebe;
    --third-color: #939393;
  }
  
