<ion-header>
  <ion-toolbar class="toolbar">
    <!-- Menu Button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recipe of favorites; let i = index" (click)="openRecipe(favorites[i])">
      <ion-avatar slot="start">
        <img [src]="recipe.image || 'assets/images/default.jpeg'" alt="Recipe Image" />
      </ion-avatar>

      <ion-label>
        <h2>{{ recipe.name }}</h2>
        <p>Categories: {{ recipe.category.join(', ') }}</p>
      </ion-label>

      <ion-button slot="end" fill="clear" (click)="removeFavorite(recipe); $event.stopPropagation()">
        <ion-icon name="heart-dislike" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
