.title{
  color: #6462df;
}
.imagesize{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.recipiecard{
  // background-color: #cccbff;
  background-color: #fff;
}
.cardcontent{
  // margin: 10px;
  background-color: #fff;
}
.recipieheading{
  color:#6462df;
}
/* Container for the buttons */
.button-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    gap: 5px; /* Space between buttons */
  }
  
  /* Button styling */
  .add-recipe-button, .all-recipe-button {
    // background: #3880ff; /* Blue background */
    --background: #9d9d9d;
    color: white; /* White text */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 100%; /* Slightly reduce width to avoid overflow */
  }
  
  .add-recipe-button:hover, .all-recipe-button:hover {
    // background: #4c8dff; /* Lighter blue when hovered */
    --background: #c0bebe;
  }
  
  .button-col{
    margin: 10px;
  }
//////////////////////////////////
.custom-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}
.slide-buttons{
  display: flex;
  justify-content: space-around; /* Add space between buttons */
  margin-top: 10px; /* Optional: Add spacing above buttons */
}
.prev, .nxt{
  width: 40px;
  height: 40px;
  background-color: #939393; /* Button background */
  color: white;
  border: none;
  border-radius: 50%; /* Make buttons round */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
  position: absolute; /* Position relative to the container */
  top: 50%; /* Vertically center the buttons */
  transform: translateY(-50%); /* Adjust for exact centering */
}
.prev {
  left: 10px; /* Distance from the left edge of the container */
}

.nxt {
  right: 10px; /* Distance from the right edge of the container */
}
.addall{
  // bottom: 10%;
  position: relative;
}
.quotes-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  /* background-color: #f9f9f9; */
  text-align: center;
  height: 100px;
}

.quotes {
  font-size: 20px; /* Adjusted font size for better visibility */
  font-weight: bold;
  color: #6c757d; /* Subtle gray color for a refined look */
  font-family:  serif; /* Changed font to a classic style */
  padding: 20px;
  max-width: 400px;
  text-align: left; /* Align text to the left */
}
// .cheficon{
//   width: 20px;
//   height: 20px;
//   left: 20px;
// }
.toolbar{
  // --background: #404040;
  color: #6462df;
  
}