<ion-header>
  <ion-toolbar class="toolbar">
    <!-- Menu Button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-list>
    <!-- List items -->
    <ion-item *ngFor="let item of shoppingList">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.quantity }} {{ item.unit }}</p>
      </ion-label>
      <!-- Remove Button -->
      <ion-button 
        color="danger" 
        fill="outline" 
        slot="end" 
        (click)="removeFromShoppingList(item)">
        <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Message for Empty List -->
  <ion-item *ngIf="!shoppingList.length" lines="none">
    <ion-label class="ion-text-center">
      <h3>No items in the shopping list.</h3>
    </ion-label>
  </ion-item>
</ion-content>
