.toolbar {
  // --background: #404040;
  color: var(--primary-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 13px;
}

.monthly-button,
.weekly-button {
  --background: var(--primary-color);
  color: var(--white);
  flex: 1;
  margin: 0 10px;
  font-size: small;
  font-family: system-ui;
}

.add-item-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 17px;
}

.add-item-button {
  --background: var(--green);
  color: var(--white);
  padding-right: 15px;
  font-size: small;
  font-family: system-ui;
}

.items {
  font-family: system-ui;
}