<ion-header>
  <ion-toolbar class="toolbar">
    <!-- Menu Button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refresher Component -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Buttons for Monthly and Weekly Shopping Lists -->
  <div class="buttons">
    <ion-button class="monthly-button" (click)="openMonthlyList()">Monthly Shopping List
      <ion-icon color="dark" slot="icon-only" name="calendar"></ion-icon>
    </ion-button>
    <ion-button class="weekly-button" (click)="openWeeklyList()">Weekly Shopping List
      <ion-icon color="dark" slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </div>

  <ion-list>
    <!-- List items -->
    <ion-item *ngFor="let item of shoppingList">
      <ion-label>
        <h2 class="items">{{ item.name }}</h2>
        <!-- <p>{{ item.quantity }} {{ item.unit }}</p> -->
      </ion-label>

      <!-- Add to Monthly Shopping List Icon -->
      <ion-button color="primary" fill="outline" slot="end" (click)="addToMonthly(item)">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>

      <!-- Add to Weekly Shopping List Icon -->
      <ion-button color="secondary" fill="outline" slot="end" (click)="addToWeekly(item)">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>

      <!-- Remove Button -->
      <ion-button color="danger" fill="outline" slot="end" (click)="removeFromShoppingList(item)">
        <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Message for Empty List -->
  <ion-item *ngIf="!shoppingList.length" lines="none">
    <ion-label class="ion-text-center">
      <h3>No items in the shopping list.</h3>
    </ion-label>
  </ion-item>

  <!-- Input for Adding New Items -->
  <div class="add-item-container">
    <ion-input [(ngModel)]="newItem" placeholder="Enter item name"></ion-input>
    <ion-button class="add-item-button" (click)="addNewItem()">Add Item</ion-button>
  </div>
</ion-content>